.dialogs{
    /* grid-area: c; */
    /* background-color: #44bba4; */
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}
.dialogsItems{
    margin-right: 10px;
}


.messages{
    background-color: #f6f7bd;
    padding: 10px;
}

.activeDialog{
    border-bottom: 1px solid white;
    border-top: 1px solid white;

}
.messagesBlock{
    height: 50vh;
    overflow-x: scroll;
}
.messageInputBlock{
    display: flex;
    align-items: center;
}
.messageInput{
    min-width: 80%;
    resize: none;
    height: 130px !important;
    font-size: 20px;
    padding: 10px;
    border: none;
}
.messageInput:focus-visible{
    outline: none;
}
.messageSendBtn{
    /* display: none; */
    width: 20%;
    height: 150px !important;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: none;
    background-color: #3e3e3e;
    color: aliceblue;
    font-size: 24px;
}