body{
  background-color: #F6F7EB;
}
.app-wrapper{
  margin: 0 auto;
  max-width: 1000px!important;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 'h h'
  'n c'
  'f f';
  grid-gap: 10px;
}
.appWrapperContent{
  grid-area: c;
  background-color: #44bba4;
  padding: 10px;
}





