.nav{
    background-color: #3f88c5;
    grid-area: n;
    height: fit-content;
  }
  .item{
  padding: 10px;
  /* margin-block: 20px; */
  padding-left: 10px;

}
.item a{
  color: aliceblue;
  text-decoration: none;
}


.activeLink{
  /* background-color: #21639a!important; */
  text-decoration: underline !important;
}



  /* .item2{
    font-size: 24px;
  }
  .item3{
    text-decoration: underline;
  } */